@import '@fontsource-variable/open-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans Variable', sans-serif;
}
.image-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.card {
    margin-right: 10px;
}
